$pink: #f58286;
$purple: #64377f;
$yellow: #fef7ce;
$lightorange: #f19d46;
$darkorange: #f76e3e;
$teal: #1cc6ca;
$blue: #4a5bb2;
$red: #eb4e4e;
$green: #399d80;
$lightred: #ec575a;
$white: #fff;
$transparent: rgba(255,255,255,0.001);
$transition:cubic-bezier(1, 0.885, 0.72, 1);

body{
  font-family:'Montserrat';
  display:flex;
  justify-content:center;
  align-items:center;
  background:$yellow;
  width: 100%;
  height: 100%;
  *{
    box-sizing:border-box;
  }
  
  .btn{
    position:absolute;
    z-index:8;
    width:30px;
    height:30px;
    left:calc(50% - 15px);
    top:calc(50% - 15px);
    margin-top:250px;
    transition:0.2s ease-in-out;
    margin-left:350px;
  }
  input[type="radio"]{
    position:absolute;
    z-index:8;
    width:80px;
    height:80px;
    left:calc(50% - 40px);
    top:calc(50% - 40px);
    margin-top:250px;
    margin-left:350px;
    &:hover{
      & ~ .btn{
        box-shadow:0 0 0 1px #000;
        &:before{
          border-top:5px solid #000;
          border-right:5px solid #000;
         }
      }
    }
  }
  .btn{
    box-shadow:0 0 0 1px #fff;
    z-index:999;
    pointer-events:none;
    border-radius:100%;
    &:before{
      content:'';
      position:absolute;
      width:25%;
      height:25%;
      border-top:5px solid #fff;
      border-right:5px solid #fff;
      left:50%;
      top:50%;
      transform:translateY(calc(-50% - 2.5px)) translateX(-50%) rotate(135deg);
      transition:0.2s ease-in-out;
    }
    
  }
  input{
    opacity:0;
    z-index:999;
    @for $i from 1 through 3{
      &:first-of-type{
        &:checked{
          & ~ #wrap{
            &:before{
              transition:0s;
            }
            &:after{
              transition:0s;
            }
            .slide{
              &:nth-of-type(2){
                opacity:0;
              }
              &:nth-of-type(3){
                &:before, .label:before{
                  transform-origin:top;
                }
              }
            }
          }
        }
      }
      &:last-of-type{
        &:checked{
          z-index:0;
          & ~ .btn{
            &:before{
              transform:translateY(calc(-50% + 1.5px)) translateX(-50%) rotate(135deg) scaleX(-1) scaleY(-1);
            }
          }
          & ~ #wrap{
            .slide{
              &:nth-of-type(1){
                &:before, .label:before{
                  transform:translateY(0);
                }
                .image{
                  transform:translateX(-50%) translateY(calc(-50% + 100vh));
                }
              }
            }
          }
        }
      }
      &:nth-of-type(#{$i}){
        z-index:#{10 - $i};
        &:checked{
          pointer-events:none;
          opacity:0;
          & + input{
            z-index:20;
          }
          & ~ #wrap{
            .outer{
              .box{
                  &:before{
                  transform:translateY(#{($i - 1) * 25%});
                }
              }
            }
            &:before{
              transform:translateX(#{($i - 1) * -25%});
            }
            &:after{
              transform:translateY(#{($i - 1) * 25%});
            }
            .slide{
              &:nth-of-type(#{$i}){
                .content{
                  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                  transition-delay:0.3s;
                  p{
                    &:before{
                      transform:translateY(0);
                      transition-delay:0.45s;
                      opacity:1;
                    }
                  }
                }
                p.classifications{
                  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                  transition-delay:0.2s;
                }
                .image{
                  transition:all 600ms $transition;
                  transition-delay:0.1s;
                  transform:translateX(-50%) translateY(-50%);
                }
                .label{
                  &:before{
                    transform:translateY(0);
                  }
                }
                &:before{
                  transform:translateY(0);
                }
              }
              &:nth-of-type(#{$i + 1}){
                .content{
                  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                }
                p.classifications{
                  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                }
                .image{
                  transform:translateX(-50%) translateY(calc(-50% + 100vh));
                }
              }
              &:nth-of-type(#{$i - 1}){
                .image{
                  transition:0.3s ease-in-out;
                }
                .label{
                  &:before{
                    transform:translateY(0);
                  }
                }
                &:before{
                  transform:translateY(0);
                }
              }
            }
          }
        }
      }
    }
  }
  #wrap{
    min-width:800px;
    min-height:600px;
    position:relative;
    background:$white;
    overflow: hidden;
    margin-top: 100px;
    box-shadow:0 10px 40px -10px rgba(0,0,0,0.45);

    .cart, .cart .inner{
      z-index:0;
      position:absolute;
      width:100%;
      height:100%;
      left:0;
      top:0;
      overflow:hidden;
    }
    .cartbtn{
      position:absolute;
      z-index:2;
      width:50%;
      left:calc(50% - 50px);
      bottom:0;
      height:45%;
      pointer-events:none;
      &:after{
        content:'⟶';
        position:absolute;
        font-size:20px;
        right:0px;
        top:20px;
        opacity:0;
        color:$transparent;
        transition:opacity 0.2s ease-in-out;
      }
    }

    .outer{
      z-index:-1;
      position:absolute;
      width:25%;
      height:50%;
      .box{
        content:'';
        position:absolute;
        width:100vw;
        height:400vh;
        right:0;
        bottom:0;
        overflow:hidden;
        &:before{
          content:'';
          position:absolute;
          width:100%;
          height:100%;
          left:0;
          top:0;
          background:linear-gradient(to top, $pink 25%, $teal 25%, $teal 50%, $red 50%, $red 75%, $pink 75%);
          transition:transform 600ms $transition;
        }
      }
    }
    &:before, &:after{
      content:'';
      position:absolute;
      width:200vw;
      height:100vh;
      background:linear-gradient(to right, $yellow 25%, $darkorange 25%, $darkorange 50%, $teal 50%, $teal 75%, $yellow 75%);
      margin-top:calc(-50vh + 300px);
      z-index:-2;
      transition:transform 650ms $transition;
      left:0;
      top:0;
      
    }
    &:before{
      margin-left:calc(-50vw + 400px);
    }
    &:after{
      background:linear-gradient(to bottom, $blue 25%, $lightorange 25%, $lightorange 50%, $purple 50%, $purple 75%, $blue 75%);
      opacity:1;
      left:50%;
      height:400vh;
      width:50vw;
      z-index:-1;
      transition:transform 700ms $transition;
      margin-top:calc(-250vh + 300px);
    }
    .slide{
      position:absolute;
      display:grid;
      width:100%;
      height:100%;
      left:0;
      top:0;
      grid-template-columns: 25% 25% 50%;
      grid-template-rows: 15% 85%;
      z-index:2;
      overflow:hidden;
      &:nth-of-type(1){
        &:before{
          background:#2b208a;
        }
        .image{
          background-image:url('./Img/raiden.webp');
          height: 150%;
        }
        .label{
          &:before{
            background:$purple;
          }
        }
        .content{
          h1{
            &:before{
              margin-left: 60px;
              content:'Shogun'
            }
          }
          p{
            &:before{
              background-image:url('./Img/Conquista_Inazuma-_A_Ilha_de_Trov%3Fes_e_Eternidade_-_Parte_II.webp');
              margin: 20px;
            }
            span{
              &:first-of-type{
                &:after{
                  content:'Sandwich';
                }
              }
              &:last-of-type{
                &:after{
                  content:'Hard No';
                }
              }
            }
          }
        }

        p.classifications{
          span{
            &:first-of-type{
              &:after{
                content:'Why';
              }
            }
            &:nth-of-type(2){
              &:after{
                content:'Would';
              }
            }
            &:nth-of-type(3){
              &:after{
                content:'You';
              }
            }
            &:nth-of-type(4){
              &:after{
                content:'Even';
              }
            }
            &:nth-of-type(5){
              &:after{
                content:'Buy';
              }
            }
            &:nth-of-type(6){
              &:after{
                content:'This';
              }
            }
          }
        }
      }
     
      &:before, .label:before{
        content:'';
        position:absolute;
        width:50%;
        height:100%;
        right:0;
        top:0;
        background:$pink;
        z-index:-1;
        transform:translateY(100%);
        transform-origin:bottom;
        transition:all 600ms $transition;
      }
      .label{
        grid-column: 1 / span 1;
        grid-row:1 / span 1;
        position:relative;
        overflow:hidden;
        display: none;
 
      }
  
      .image{
        position:absolute;
        width:47.5%;
        height:47.5%;
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center;
        left:50%;
        top:50%;
        transform:translateX(-50%) translateY(-100vw);
        will-change:transform;
      }
    }
    label{
      color:$white;
      -webkit-text-stroke: 0.75px rgba(0,0,0,0.25);
      font-size:50px;
      font-weight:900;
      position:absolute;
      margin:0;
      top:275px;
      width:50%;
      left:-125px;
      transform:rotate(-90deg);
    }
    .content{
      position:absolute;
      width:50%;
      height:auto;
      right:0%;
      transform:translateY(calc(-50% - 25px));
      top:50%;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition:clip-path 0.6s ease-in-out;
      
      padding:0 75px 100px 100px;
      p{
        color:$white;
        float:right;
        text-align:left;
        opacity:1;
        width:60%;
        font-size:14px;
        line-height:2;
        position:relative;
        &:before{
          content:'';
          position:absolute;
          width:60%;
          height:100px;
          left:calc(-60% - 10px);
          top:-20px;
          background-size:contain;
          background-repeat:no-repeat;
          background-position:center;
          filter:invert(1);
          transform:translateY(50px);
          opacity:0;
          transition:0.2s ease-in-out;
        }
        span{
          &:after{
            display:inline-block;
            clear:left;
            margin-left:5px;
          }
        }
      }
      
    }
    p.classifications{
      position:absolute;
      left:17.5%;
      top:25%;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition:clip-path 0.3s ease-in-out;
    }
    p{
      font-size:16px;
      margin:0;
      line-height:1.6;
      opacity:0.35;
      span{
        display:block;
        clear:both;
        font-weight:600;
        &:after{
          display:block;
          clear:both;
          font-weight:300;
          margin-bottom:10px;
        }
      }
    }
  }
}