
.carrossel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carrossel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carrossel-open:checked + .carrossel-item {
    position: static;
    opacity: 1;
}

.carrossel-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.carrossel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carrossel-control {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
   
}

.carrossel-control.prev {
    left: 2%;
}

.carrossel-control.next {
    right: 2%;
}

.carrossel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carrossel-1:checked ~ .control-1,
#carrossel-2:checked ~ .control-2,
#carrossel-3:checked ~ .control-3,
#carrossel-3:checked ~ .control-4 {
    display: block;
}

.carrossel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carrossel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carrossel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carrossel-bullet:hover {
    color: #aaaaaa;
}

#carrossel-1:checked ~ .control-1 ~ .carrossel-indicators li:nth-child(1) .carrossel-bullet,
#carrossel-2:checked ~ .control-2 ~ .carrossel-indicators li:nth-child(2) .carrossel-bullet,
#carrossel-3:checked ~ .control-3 ~ .carrossel-indicators li:nth-child(3) .carrossel-bullet,
#carrossel-4:checked ~ .control-4 ~ .carrossel-indicators li:nth-child(4) .carrossel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}